// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-name {
  font-size: 2em;
}

.message-bubble
{
  padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
  padding-left: 10px;
}

.panel-heading { background-color: #3d6da7 !important; color: white !important; }

ul {
  padding: 0;
  list-style-type: none;
}

#chat {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 380px;
  max-height: 380px;
  overflow-y: scroll;
}